.board_box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.board_box.hide {
  display: none;
}
.board_box #btnStart {
  border: none;
  outline: none;
  border-radius: 4px;
  background: var(--secondary);
  color: var(--background);
  padding: 10px 20px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  font-style: initial;
  font-family: italic;
  transition: opacity 0.25s;
}
.board_box #btnStart:hover {
  opacity: 0.75;
}
.board_box .titReady {
  font-size: 3rem;
  font-weight: 700;
  color: var(--secondary);
  text-align: center;
}
.board_box .containInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.board_box .containInfo .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.board_box .containInfo .box h2 {
  color: var(--secondary);
  font-size: 27px;
  font-weight: 500;
  font-style: italic;
  font-family: initial;
}
.board_box .containInfo .box span {
  color: var(--secondary);
  font-size: 20px;
  font-weight: 600;
  font-style: initial;
  font-family: initial;
}
.board_box .containInfo .res {
  margin-top: 2.5rem;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  border-radius: 10px;
  padding: 15px;
  background-color: var(--secondary);
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.board_box .containInfo .res .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.board_box .containInfo .res .box h2 {
  color: #fff;
  font-size: 27px;
  font-weight: 500;
  font-style: initial;
  font-family: initial;
}
.board_box .containInfo .res .box span {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-style: initial;
  font-family: initial;
}

.game_box {
  background: var(--main);
  padding: 1.4rem;
}

/* Writer Box Start */
.writerBox {
  position: relative;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 1rem;
  z-index: 20;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.writerBox .left {
  padding: 1.2rem;
  width: 70%;
}
.writerBox .left .para_container {
  white-space: break-spaces;
  overflow: auto;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.writerBox .left .para_container .letter {
  color: rgba(104, 104, 104, 0.95);
  font-size: 25px;
  margin-right: 1px;
  margin-left: 1px;
  padding-right: 1px;
  padding-left: 1px;
  position: relative;
}
.writerBox .left .para_container .letter.error {
  background: rgba(255, 0, 0, 0.57);
  color: rgba(108, 0, 0, 0.95);
  border-radius: 4px;
}
.writerBox .left .para_container .letter.done {
  background: rgba(64, 255, 0, 0.57);
  color: rgba(15, 58, 0, 0.95);
  border-radius: 4px;
}
.writerBox .left .para_container .letter.letter-active {
  color: rgba(25, 177, 243, 0.9);
}
.writerBox .left .para_container .letter.letter-active::before {
  content: "";
  width: 112%;
  height: 2px;
  background: rgba(25, 177, 243, 0.9);
  position: absolute;
  left: -12%;
  top: 99%;
  animation: hideShow 1.5s ease-out infinite;
}
.writerBox .left .para_container .letter.start_char::after {
  content: "Start here";
  position: absolute;
  left: -50%;
  bottom: 100%;
  background: dimgrey;
  color: #fff;
  padding: 7px;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: initial;
  font-family: initial;
  opacity: 1;
  transition: all 0.3s;
}
.writerBox .left .para_container .letter::after {
  opacity: 0;
}
@keyframes hideShow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.writerBox .left #userInput {
  display: block;
  font-size: 25px;
  font-weight: 600;
  font-style: initial;
  font-family: initial;
  color: black;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.writerBox .left #userInput.error {
  background-color: rgba(251, 26, 26, 0.65);
}
.writerBox .left .game_time {
  text-align: end;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.writerBox .right {
  width: 30%;
}
.writerBox .right .box {
  color: var(--secondary);
  font-size: 25px;
  font-weight: 600;
  font-style: initial;
  font-family: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Writer Box End */
.cell {
  width: 100%;
  margin-top: 4rem;
  position: relative;
  z-index: 10;
}
.cell .keyboard--hasSettings {
  padding-top: 20px;
}
.cell .keyboard--hands {
  margin-bottom: 33%;
}
.cell .keyboard--full {
  border-radius: 20px;
  padding: 15px 15px 10px;
}
.cell .keyboard--a, .cell .keyboard--detail {
  background-color: rgb(30, 30, 30);
  border: 1px solid rgba(0, 0, 0, 0.07);
}
.cell .keyboard {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.cell .keyboard-row {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-bottom: 5px;
  max-height: 50px;
}
.cell .keyboard-row .key {
  line-height: 1;
  max-height: 40px;
}
.cell .keyboard-row .keyboard-key {
  flex: 1;
  flex-basis: 40px;
  margin-right: 5px;
}
.cell .keyboard-row .key--special {
  flex-direction: column;
  font-size: 12px;
}
.cell .keyboard-row .key--a, .cell .keyboard-row .key--b {
  background-color: var(--background);
  color: var(--secondary);
}
.cell .keyboard-row .key--a {
  border-bottom: 1px solid #a9a9a9;
  border-top: 1px solid #fff;
}
.cell .keyboard-row .key {
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  text-transform: uppercase;
  padding: 5px;
}
.cell .keyboard-row .key .key-label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.cell .keyboard-row .key.is-active {
  background-color: #3295db;
  border-color: #47a0df #3295db #2d86c5;
}
.cell .keyboard-row .key.is-active .key-label {
  color: var(--secondary);
}
.cell .keyboard-row .key.is-error {
  background-color: #db3232;
  border-color: #df4747 #db3232 #c52d2d;
  color: var(--secondary);
}
.cell .keyboard-row .key.is-error .key-label {
  color: var(--secondary);
}
.cell .keyboard-row .hands {
  position: absolute;
  height: 100%;
  left: 0;
  top: 3%;
  width: 100%;
}

@media (max-width: 980px) {
  body .app .cell {
    display: none;
  }
}
/* leaf animations */
#leaves {
  top: -50px;
  text-align: right;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 120vh;
  z-index: 0;
}

#leaves i {
  display: inline-block;
  width: 200px;
  height: 150px;
  background: linear-gradient(to bottom right, #309900, #005600);
  transform: skew(20deg);
  border-radius: 5% 40% 70%;
  box-shadow: inset 0px 0px 1px #222;
  border: 1px solid #333;
  -webkit-animation: falling 5s 0s infinite;
  z-index: 500;
}

#leaves i:nth-of-type(2n) {
  -webkit-animation: falling2 5s 0s infinite;
}

#leaves i:nth-of-type(3n) {
  -webkit-animation: falling3 5s 0s infinite;
}

#leaves i:before {
  position: absolute;
  content: "";
  top: 117px;
  right: 9px;
  height: 27px;
  width: 32px;
  transform: rotate(49deg);
  border-radius: 0% 15% 15% 0%;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  border-left: 0px solid #222;
  border-right: 1px solid #222;
  background: linear-gradient(to right, rgb(0, 100, 0), #005600);
  z-index: 500;
}

#leaves i:after {
  content: "";
  height: 125px;
  width: 10px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  display: block;
  transform: rotate(125deg);
  position: absolute;
  left: 85px;
  border-radius: 50%;
}

#leaves i:nth-of-type(n) {
  height: 23px;
  width: 30px;
}

#leaves i:nth-of-type(n):before {
  width: 7px;
  height: 5px;
  top: 17px;
  right: 1px;
}

#leaves i:nth-of-type(n):after {
  width: 2px;
  height: 17px;
  left: 12px;
  top: 0px;
}

#leaves i:nth-of-type(2n+1) {
  height: 11px;
  width: 16px;
}

#leaves i:nth-of-type(2n+1):before {
  width: 4px;
  height: 3px;
  top: 7px;
  right: 0px;
}

#leaves i:nth-of-type(2n+1):after {
  width: 2px;
  height: 6px;
  left: 5px;
  top: 1px;
}

#leaves i:nth-of-type(3n+2) {
  height: 17px;
  width: 23px;
}

#leaves i:nth-of-type(3n+2):before {
  height: 4px;
  width: 4px;
  top: 12px;
  right: 1px;
}

#leaves i:nth-of-type(3n+2):after {
  height: 10px;
  width: 2px;
  top: 1px;
  left: 8px;
}

#leaves i:nth-of-type(n) {
  -webkit-animation-delay: 1.9s;
}

#leaves i:nth-of-type(2n) {
  -webkit-animation-delay: 3.9s;
}

#leaves i:nth-of-type(3n) {
  -webkit-animation-delay: 2.3s;
}

#leaves i:nth-of-type(4n) {
  -webkit-animation-delay: 4.4s;
}

#leaves i:nth-of-type(5n) {
  -webkit-animation-delay: 5s;
}

#leaves i:nth-of-type(6n) {
  -webkit-animation-delay: 3.5s;
}

#leaves i:nth-of-type(7n) {
  -webkit-animation-delay: 2.8s;
}

#leaves i:nth-of-type(8n) {
  -webkit-animation-delay: 1.5s;
}

#leaves i:nth-of-type(9n) {
  -webkit-animation-delay: 3.3s;
}

#leaves i:nth-of-type(10n) {
  -webkit-animation-delay: 2.5s;
}

#leaves i:nth-of-type(11n) {
  -webkit-animation-delay: 1.2s;
}

#leaves i:nth-of-type(12n) {
  -webkit-animation-delay: 4.1s;
}

#leaves i:nth-of-type(13n) {
  -webkit-animation-delay: 1s;
}

#leaves i:nth-of-type(14n) {
  -webkit-animation-delay: 4.7s;
}

#leaves i:nth-of-type(15n) {
  -webkit-animation-delay: 3s;
}

#leaves i:nth-of-type(n) {
  background: linear-gradient(to bottom right, #309900, #005600);
}

#leaves i:nth-of-type(2n+2) {
  background: linear-gradient(to bottom right, #5e9900, #2b5600);
}

#leaves i:nth-of-type(4n+1) {
  background: linear-gradient(to bottom right, #990, #564500);
}

#leaves i:nth-of-type(n) {
  opacity: 0.7;
}

#leaves i:nth-of-type(3n+1) {
  opacity: 0.5;
}

#leaves i:nth-of-type(3n+2) {
  opacity: 0.3;
}

#leaves i:nth-of-type(n) {
  transform: rotate(180deg);
}

#leaves i:nth-of-type(n) {
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes falling {
  0% {
    -webkit-transform: translate3d(300, 0, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(-350px, 700px, 0) rotate(90deg);
    opacity: 0;
  }
}
@keyframes falling3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(-20deg);
  }
  100% {
    -webkit-transform: translate3d(-230px, 640px, 0) rotate(-70deg);
    opacity: 0;
  }
}
@keyframes falling2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(90deg);
  }
  100% {
    -webkit-transform: translate3d(-400px, 680px, 0) rotate(0deg);
    opacity: 0;
  }
}
:root {
  --main: aquamarine;
  --secondary: #fff;
  --background: #161616;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive, sans-serif;
  color: var(--secondary);
}

*::-moz-selection {
  background-color: var(--main);
  color: var(--secondary);
  font-weight: 600;
}

*::selection {
  background-color: var(--main);
  color: var(--secondary);
  font-weight: 600;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.tit {
  font-size: 35px;
  font-weight: 500;
  color: var(--secondary);
  text-align: center;
}

.hide {
  display: none;
}

.container.content {
  width: 100%;
  height: 100%;
}

.changerContainer {
  width: 100%;
  height: 100%;
  background: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: var(--background);
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}
.changerContainer.animate {
  opacity: 0;
  visibility: hidden;
}/*# sourceMappingURL=main.css.map */