
// .changerContainer {

// }

/* Writer Box Start */
.writerBox {
    position: relative;
    @include wh-custom(100%, max-content);
    @include rounded;
    user-select: none;
    background: rgb(30 30 30);
    padding: 1rem;
    z-index: 20;

    .back {
        white-space: 5px;
        .letter {
            color: rgb(104 104 104 / 95%);
            font-size: 25px;
            @include margin-custom-lr(1px, 1px);
            @include padding-custom-lr(1px, 1px);
            &.error {
                background: rgba(255, 0, 0, 0.57);
                color: rgba(108, 0, 0, 0.95);
                @include rounded;
            }
            &.done {
                background: rgb(64 255 0 / 57%);
                color: rgba(18, 71, 0, 0.95);
                @include rounded;
            }
            &.letter-active {
                color: rgba(25, 177, 243, 0.9);
                position: relative;
                &::before {
                    content: '';
                    @include wh-custom(112%, 2px);
                    background: rgba(25, 177, 243, 0.9);
                    position: absolute;
                    left: -12%;
                    top: 99%;
                    animation: hideShow 1.5s ease-out infinite;
                }
            }
        }
    }
    @keyframes hideShow {
        0% {
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        60% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    .front-user {
        display: block;
        @include font-custom(25px, 600);
        color: black;
        margin-top: 2rem;
        padding: 0.5rem 1rem;
        @include wh-custom(100%, max-content);

        &.error {
            background-color: rgba(251, 26, 26, 0.65);
        }
    }

    .game_time {
        text-align: end;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
    }
}
/* Writer Box End */